/* .test {
  overflow-x: auto; 
} */

.bg {
  border: 1px solid red;
  min-width: 500px;
  height: 350px;
  display: flex;
  cursor: pointer;
}

.test::-webkit-scrollbar {
  height: 8px;
  left: -40px;
}

.test::-webkit-scrollbar-track {
  background: #fafafa;
  border-radius: 1rem;
}

.test::-webkit-scrollbar-thumb {
  background: #e6e6e6;
  border-radius: 3px;
}

.test {
  padding-bottom: 20px;
}
