/* .test {
  overflow-x: auto; 
} */

/* body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

/* .bg {
  border: 1px solid #8c8c8c;
  border-radius: 10px;
  min-width: 250px;
  height: 220px;
  display: flex;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.test::-webkit-scrollbar {
  height: 8px;
  left: -40px;
}

.test::-webkit-scrollbar-track {
  background: #fafafa;
  border-radius: 1rem;
}

.test::-webkit-scrollbar-thumb {
  background: #e6e6e6;
  border-radius: 3px;
}

.test {
  padding-bottom: 20px;
} */
